html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
}

.tela {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black; 
}

.cena {
    position: relative;
    aspect-ratio: 1920 / 1080; 
    width: 100vw;
    height: 100vh;
    max-width: calc(100vh * (1920 / 1080));
    max-height: calc(100vw * (1080 / 1920));
}

.fundo {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.sprite {
    position: absolute;
    width: 27%;          
    height: auto;
    left: 53%;             
    top: 60%;
    transform: translate(-50%, -50%);
    z-index: 10;
    cursor: pointer;
}
