* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
}

.tela {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.fundo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
}

.sprite {
    position: absolute;

    width: 200px;
    height: auto;

    left: 53%;
    top: 60%;

    transform: translate(-50%, -50%);

    z-index: 10;
    cursor: pointer;
}
