html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
}

.tela {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black; 
}

.cena {
    position: relative;
    aspect-ratio: 1708 / 960;
    width: 100vw;
    height: 100vh;
    max-width: calc(100vh * (1708 / 960));
    max-height: calc(100vw * (960 / 1708));
}

.fundo {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.sprite {
    position: absolute;
    width: 24%;     
    height: auto;
    left: 50%;      
    top: 70%;          
    transform: translate(-50%, -50%);
    z-index: 10;
    cursor: pointer;
}
